.main{
  display: flex;
  justify-content: space-between;
}
.productImage{
  width: 100px
}
.form{
  height: 45vh;
  width: 300px;
  background-color: #3AD886;
  position: fixed;
  right: 15%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.Dash{
  background-color: #D34735;
  width: 400px;
  height: 30vh;
  position: fixed;
  top: 30%;
  left: 15%;
  border-radius: 2%;
}

